src/main/resources/configurationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.coverity.com/v9" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.coverity.com/v9" name="ConfigurationServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.coverity.com/v9" schemaLocation="configurationService.xsd"/>
</xsd:schema>
</types>
<message name="updateAttribute">
<part name="parameters" element="tns:updateAttribute"/>
</message>
<message name="updateAttributeResponse">
<part name="parameters" element="tns:updateAttributeResponse"/>
</message>
<message name="CovRemoteServiceException">
<part name="fault" element="tns:CoverityFault"/>
</message>
<message name="deleteAttribute">
<part name="parameters" element="tns:deleteAttribute"/>
</message>
<message name="deleteAttributeResponse">
<part name="parameters" element="tns:deleteAttributeResponse"/>
</message>
<message name="createComponentMap">
<part name="parameters" element="tns:createComponentMap"/>
</message>
<message name="createComponentMapResponse">
<part name="parameters" element="tns:createComponentMapResponse"/>
</message>
<message name="updateComponentMap">
<part name="parameters" element="tns:updateComponentMap"/>
</message>
<message name="updateComponentMapResponse">
<part name="parameters" element="tns:updateComponentMapResponse"/>
</message>
<message name="deleteComponentMap">
<part name="parameters" element="tns:deleteComponentMap"/>
</message>
<message name="deleteComponentMapResponse">
<part name="parameters" element="tns:deleteComponentMapResponse"/>
</message>
<message name="updateGroup">
<part name="parameters" element="tns:updateGroup"/>
</message>
<message name="updateGroupResponse">
<part name="parameters" element="tns:updateGroupResponse"/>
</message>
<message name="deleteGroup">
<part name="parameters" element="tns:deleteGroup"/>
</message>
<message name="deleteGroupResponse">
<part name="parameters" element="tns:deleteGroupResponse"/>
</message>
<message name="createProject">
<part name="parameters" element="tns:createProject"/>
</message>
<message name="createProjectResponse">
<part name="parameters" element="tns:createProjectResponse"/>
</message>
<message name="updateProject">
<part name="parameters" element="tns:updateProject"/>
</message>
<message name="updateProjectResponse">
<part name="parameters" element="tns:updateProjectResponse"/>
</message>
<message name="deleteProject">
<part name="parameters" element="tns:deleteProject"/>
</message>
<message name="deleteProjectResponse">
<part name="parameters" element="tns:deleteProjectResponse"/>
</message>
<message name="updateRole">
<part name="parameters" element="tns:updateRole"/>
</message>
<message name="updateRoleResponse">
<part name="parameters" element="tns:updateRoleResponse"/>
</message>
<message name="deleteRole">
<part name="parameters" element="tns:deleteRole"/>
</message>
<message name="deleteRoleResponse">
<part name="parameters" element="tns:deleteRoleResponse"/>
</message>
<message name="createStream">
<part name="parameters" element="tns:createStream"/>
</message>
<message name="createStreamResponse">
<part name="parameters" element="tns:createStreamResponse"/>
</message>
<message name="updateStream">
<part name="parameters" element="tns:updateStream"/>
</message>
<message name="updateStreamResponse">
<part name="parameters" element="tns:updateStreamResponse"/>
</message>
<message name="deleteStream">
<part name="parameters" element="tns:deleteStream"/>
</message>
<message name="deleteStreamResponse">
<part name="parameters" element="tns:deleteStreamResponse"/>
</message>
<message name="createTriageStore">
<part name="parameters" element="tns:createTriageStore"/>
</message>
<message name="createTriageStoreResponse">
<part name="parameters" element="tns:createTriageStoreResponse"/>
</message>
<message name="updateTriageStore">
<part name="parameters" element="tns:updateTriageStore"/>
</message>
<message name="updateTriageStoreResponse">
<part name="parameters" element="tns:updateTriageStoreResponse"/>
</message>
<message name="deleteTriageStore">
<part name="parameters" element="tns:deleteTriageStore"/>
</message>
<message name="deleteTriageStoreResponse">
<part name="parameters" element="tns:deleteTriageStoreResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getStreams">
<part name="parameters" element="tns:getStreams"/>
</message>
<message name="getStreamsResponse">
<part name="parameters" element="tns:getStreamsResponse"/>
</message>
<message name="getSystemConfig">
<part name="parameters" element="tns:getSystemConfig"/>
</message>
<message name="getSystemConfigResponse">
<part name="parameters" element="tns:getSystemConfigResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getProjects">
<part name="parameters" element="tns:getProjects"/>
</message>
<message name="getProjectsResponse">
<part name="parameters" element="tns:getProjectsResponse"/>
</message>
<message name="getAllPermissions">
<part name="parameters" element="tns:getAllPermissions"/>
</message>
<message name="getAllPermissionsResponse">
<part name="parameters" element="tns:getAllPermissionsResponse"/>
</message>
<message name="getAllLdapConfigurations">
<part name="parameters" element="tns:getAllLdapConfigurations"/>
</message>
<message name="getAllLdapConfigurationsResponse">
<part name="parameters" element="tns:getAllLdapConfigurationsResponse"/>
</message>
<message name="getDeleteSnapshotJobInfo">
<part name="parameters" element="tns:getDeleteSnapshotJobInfo"/>
</message>
<message name="getDeleteSnapshotJobInfoResponse">
<part name="parameters" element="tns:getDeleteSnapshotJobInfoResponse"/>
</message>
<message name="getSnapshotsForStream">
<part name="parameters" element="tns:getSnapshotsForStream"/>
</message>
<message name="getSnapshotsForStreamResponse">
<part name="parameters" element="tns:getSnapshotsForStreamResponse"/>
</message>
<message name="deleteLdapConfiguration">
<part name="parameters" element="tns:deleteLdapConfiguration"/>
</message>
<message name="deleteLdapConfigurationResponse">
<part name="parameters" element="tns:deleteLdapConfigurationResponse"/>
</message>
<message name="deleteSnapshot">
<part name="parameters" element="tns:deleteSnapshot"/>
</message>
<message name="deleteSnapshotResponse">
<part name="parameters" element="tns:deleteSnapshotResponse"/>
</message>
<message name="setAcceptingNewCommits">
<part name="parameters" element="tns:setAcceptingNewCommits"/>
</message>
<message name="setAcceptingNewCommitsResponse">
<part name="parameters" element="tns:setAcceptingNewCommitsResponse"/>
</message>
<message name="getLastUpdateTimes">
<part name="parameters" element="tns:getLastUpdateTimes"/>
</message>
<message name="getLastUpdateTimesResponse">
<part name="parameters" element="tns:getLastUpdateTimesResponse"/>
</message>
<message name="executeNotification">
<part name="parameters" element="tns:executeNotification"/>
</message>
<message name="executeNotificationResponse">
<part name="parameters" element="tns:executeNotificationResponse"/>
</message>
<message name="copyStream">
<part name="parameters" element="tns:copyStream"/>
</message>
<message name="copyStreamResponse">
<part name="parameters" element="tns:copyStreamResponse"/>
</message>
<message name="createStreamInProject">
<part name="parameters" element="tns:createStreamInProject"/>
</message>
<message name="createStreamInProjectResponse">
<part name="parameters" element="tns:createStreamInProjectResponse"/>
</message>
<message name="getMessageOfTheDay">
<part name="parameters" element="tns:getMessageOfTheDay"/>
</message>
<message name="getMessageOfTheDayResponse">
<part name="parameters" element="tns:getMessageOfTheDayResponse"/>
</message>
<message name="setMessageOfTheDay">
<part name="parameters" element="tns:setMessageOfTheDay"/>
</message>
<message name="setMessageOfTheDayResponse">
<part name="parameters" element="tns:setMessageOfTheDayResponse"/>
</message>
<message name="getComponentMaps">
<part name="parameters" element="tns:getComponentMaps"/>
</message>
<message name="getComponentMapsResponse">
<part name="parameters" element="tns:getComponentMapsResponse"/>
</message>
<message name="getTriageStores">
<part name="parameters" element="tns:getTriageStores"/>
</message>
<message name="getTriageStoresResponse">
<part name="parameters" element="tns:getTriageStoresResponse"/>
</message>
<message name="getTypeNames">
<part name="parameters" element="tns:getTypeNames"/>
</message>
<message name="getTypeNamesResponse">
<part name="parameters" element="tns:getTypeNamesResponse"/>
</message>
<message name="getDefectStatuses">
<part name="parameters" element="tns:getDefectStatuses"/>
</message>
<message name="getDefectStatusesResponse">
<part name="parameters" element="tns:getDefectStatusesResponse"/>
</message>
<message name="getSnapshotInformation">
<part name="parameters" element="tns:getSnapshotInformation"/>
</message>
<message name="getSnapshotInformationResponse">
<part name="parameters" element="tns:getSnapshotInformationResponse"/>
</message>
<message name="updateSnapshotInfo">
<part name="parameters" element="tns:updateSnapshotInfo"/>
</message>
<message name="updateSnapshotInfoResponse">
<part name="parameters" element="tns:updateSnapshotInfoResponse"/>
</message>
<message name="getCommitState">
<part name="parameters" element="tns:getCommitState"/>
</message>
<message name="getCommitStateResponse">
<part name="parameters" element="tns:getCommitStateResponse"/>
</message>
<message name="getLdapServerDomains">
<part name="parameters" element="tns:getLdapServerDomains"/>
</message>
<message name="getLdapServerDomainsResponse">
<part name="parameters" element="tns:getLdapServerDomainsResponse"/>
</message>
<message name="mergeTriageStores">
<part name="parameters" element="tns:mergeTriageStores"/>
</message>
<message name="mergeTriageStoresResponse">
<part name="parameters" element="tns:mergeTriageStoresResponse"/>
</message>
<message name="getServerTime">
<part name="parameters" element="tns:getServerTime"/>
</message>
<message name="getServerTimeResponse">
<part name="parameters" element="tns:getServerTimeResponse"/>
</message>
<message name="getLicenseState">
<part name="parameters" element="tns:getLicenseState"/>
</message>
<message name="getLicenseStateResponse">
<part name="parameters" element="tns:getLicenseStateResponse"/>
</message>
<message name="getOutputFileForSnapshot">
<part name="parameters" element="tns:getOutputFileForSnapshot"/>
</message>
<message name="getOutputFileForSnapshotResponse">
<part name="parameters" element="tns:getOutputFileForSnapshotResponse"/>
</message>
<message name="createLdapConfiguration">
<part name="parameters" element="tns:createLdapConfiguration"/>
</message>
<message name="createLdapConfigurationResponse">
<part name="parameters" element="tns:createLdapConfigurationResponse"/>
</message>
<message name="updateLdapConfiguration">
<part name="parameters" element="tns:updateLdapConfiguration"/>
</message>
<message name="updateLdapConfigurationResponse">
<part name="parameters" element="tns:updateLdapConfigurationResponse"/>
</message>
<message name="getSnapshotPurgeDetails">
<part name="parameters" element="tns:getSnapshotPurgeDetails"/>
</message>
<message name="getSnapshotPurgeDetailsResponse">
<part name="parameters" element="tns:getSnapshotPurgeDetailsResponse"/>
</message>
<message name="setSnapshotPurgeDetails">
<part name="parameters" element="tns:setSnapshotPurgeDetails"/>
</message>
<message name="setSnapshotPurgeDetailsResponse">
<part name="parameters" element="tns:setSnapshotPurgeDetailsResponse"/>
</message>
<message name="getLoggingConfiguration">
<part name="parameters" element="tns:getLoggingConfiguration"/>
</message>
<message name="getLoggingConfigurationResponse">
<part name="parameters" element="tns:getLoggingConfigurationResponse"/>
</message>
<message name="setLoggingConfiguration">
<part name="parameters" element="tns:setLoggingConfiguration"/>
</message>
<message name="setLoggingConfigurationResponse">
<part name="parameters" element="tns:setLoggingConfigurationResponse"/>
</message>
<message name="getBackupConfiguration">
<part name="parameters" element="tns:getBackupConfiguration"/>
</message>
<message name="getBackupConfigurationResponse">
<part name="parameters" element="tns:getBackupConfigurationResponse"/>
</message>
<message name="setBackupConfiguration">
<part name="parameters" element="tns:setBackupConfiguration"/>
</message>
<message name="setBackupConfigurationResponse">
<part name="parameters" element="tns:setBackupConfigurationResponse"/>
</message>
<message name="getSkeletonizationConfiguration">
<part name="parameters" element="tns:getSkeletonizationConfiguration"/>
</message>
<message name="getSkeletonizationConfigurationResponse">
<part name="parameters" element="tns:getSkeletonizationConfigurationResponse"/>
</message>
<message name="setSkeletonizationConfiguration">
<part name="parameters" element="tns:setSkeletonizationConfiguration"/>
</message>
<message name="setSkeletonizationConfigurationResponse">
<part name="parameters" element="tns:setSkeletonizationConfigurationResponse"/>
</message>
<message name="getSignInConfiguration">
<part name="parameters" element="tns:getSignInConfiguration"/>
</message>
<message name="getSignInConfigurationResponse">
<part name="parameters" element="tns:getSignInConfigurationResponse"/>
</message>
<message name="getArchitectureAnalysisConfiguration">
<part name="parameters" element="tns:getArchitectureAnalysisConfiguration"/>
</message>
<message name="getArchitectureAnalysisConfigurationResponse">
<part name="parameters" element="tns:getArchitectureAnalysisConfigurationResponse"/>
</message>
<message name="setArchitectureAnalysisConfiguration">
<part name="parameters" element="tns:setArchitectureAnalysisConfiguration"/>
</message>
<message name="setArchitectureAnalysisConfigurationResponse">
<part name="parameters" element="tns:setArchitectureAnalysisConfigurationResponse"/>
</message>
<message name="updateSignInConfiguration">
<part name="parameters" element="tns:updateSignInConfiguration"/>
</message>
<message name="updateSignInConfigurationResponse">
<part name="parameters" element="tns:updateSignInConfigurationResponse"/>
</message>
<message name="getDeveloperStreamsProjects">
<part name="parameters" element="tns:getDeveloperStreamsProjects"/>
</message>
<message name="getDeveloperStreamsProjectsResponse">
<part name="parameters" element="tns:getDeveloperStreamsProjectsResponse"/>
</message>
<message name="importLicense">
<part name="parameters" element="tns:importLicense"/>
</message>
<message name="importLicenseResponse">
<part name="parameters" element="tns:importLicenseResponse"/>
</message>
<message name="getLicenseConfiguration">
<part name="parameters" element="tns:getLicenseConfiguration"/>
</message>
<message name="getLicenseConfigurationResponse">
<part name="parameters" element="tns:getLicenseConfigurationResponse"/>
</message>
<message name="getCheckerNames">
<part name="parameters" element="tns:getCheckerNames"/>
</message>
<message name="getCheckerNamesResponse">
<part name="parameters" element="tns:getCheckerNamesResponse"/>
</message>
<message name="createAttribute">
<part name="parameters" element="tns:createAttribute"/>
</message>
<message name="createAttributeResponse">
<part name="parameters" element="tns:createAttributeResponse"/>
</message>
<message name="createGroup">
<part name="parameters" element="tns:createGroup"/>
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse"/>
</message>
<message name="getVersion">
<part name="parameters" element="tns:getVersion"/>
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse"/>
</message>
<message name="getAttribute">
<part name="parameters" element="tns:getAttribute"/>
</message>
<message name="getAttributeResponse">
<part name="parameters" element="tns:getAttributeResponse"/>
</message>
<message name="getCategoryNames">
<part name="parameters" element="tns:getCategoryNames"/>
</message>
<message name="getCategoryNamesResponse">
<part name="parameters" element="tns:getCategoryNamesResponse"/>
</message>
<message name="notify">
<part name="parameters" element="tns:notify"/>
</message>
<message name="notifyResponse">
<part name="parameters" element="tns:notifyResponse"/>
</message>
<message name="getAttributes">
<part name="parameters" element="tns:getAttributes"/>
</message>
<message name="getAttributesResponse">
<part name="parameters" element="tns:getAttributesResponse"/>
</message>
<message name="getComponent">
<part name="parameters" element="tns:getComponent"/>
</message>
<message name="getComponentResponse">
<part name="parameters" element="tns:getComponentResponse"/>
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups"/>
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getGroup">
<part name="parameters" element="tns:getGroup"/>
</message>
<message name="getGroupResponse">
<part name="parameters" element="tns:getGroupResponse"/>
</message>
<message name="getRole">
<part name="parameters" element="tns:getRole"/>
</message>
<message name="getRoleResponse">
<part name="parameters" element="tns:getRoleResponse"/>
</message>
<message name="getAllRoles">
<part name="parameters" element="tns:getAllRoles"/>
</message>
<message name="getAllRolesResponse">
<part name="parameters" element="tns:getAllRolesResponse"/>
</message>
<message name="createRole">
<part name="parameters" element="tns:createRole"/>
</message>
<message name="createRoleResponse">
<part name="parameters" element="tns:createRoleResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<portType name="ConfigurationService">
<operation name="updateAttribute">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateAttributeRequest" message="tns:updateAttribute"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateAttributeResponse" message="tns:updateAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteAttribute">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteAttributeRequest" message="tns:deleteAttribute"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteAttributeResponse" message="tns:deleteAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createComponentMap">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createComponentMapRequest" message="tns:createComponentMap"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createComponentMapResponse" message="tns:createComponentMapResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createComponentMap/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateComponentMap">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateComponentMapRequest" message="tns:updateComponentMap"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateComponentMapResponse" message="tns:updateComponentMapResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateComponentMap/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteComponentMap">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteComponentMapRequest" message="tns:deleteComponentMap"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteComponentMapResponse" message="tns:deleteComponentMapResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteComponentMap/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateGroup">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateGroupRequest" message="tns:updateGroup"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateGroupResponse" message="tns:updateGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteGroup">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteGroupRequest" message="tns:deleteGroup"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteGroupResponse" message="tns:deleteGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createProject">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createProjectRequest" message="tns:createProject"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createProjectResponse" message="tns:createProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateProject">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateProjectRequest" message="tns:updateProject"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateProjectResponse" message="tns:updateProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteProject">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteProjectRequest" message="tns:deleteProject"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteProjectResponse" message="tns:deleteProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateRole">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateRoleRequest" message="tns:updateRole"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateRoleResponse" message="tns:updateRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteRole">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteRoleRequest" message="tns:deleteRole"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteRoleResponse" message="tns:deleteRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createStream">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createStreamRequest" message="tns:createStream"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createStreamResponse" message="tns:createStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateStream">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateStreamRequest" message="tns:updateStream"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateStreamResponse" message="tns:updateStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteStream">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteStreamRequest" message="tns:deleteStream"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteStreamResponse" message="tns:deleteStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createTriageStore">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createTriageStoreRequest" message="tns:createTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createTriageStoreResponse" message="tns:createTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateTriageStore">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateTriageStoreRequest" message="tns:updateTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateTriageStoreResponse" message="tns:updateTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteTriageStore">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteTriageStoreRequest" message="tns:deleteTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteTriageStoreResponse" message="tns:deleteTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateUserResponse" message="tns:updateUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteUserResponse" message="tns:deleteUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getStreams">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getStreamsRequest" message="tns:getStreams"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getStreamsResponse" message="tns:getStreamsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getStreams/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSystemConfig">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSystemConfigRequest" message="tns:getSystemConfig"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSystemConfigResponse" message="tns:getSystemConfigResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getProjects">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getProjectsRequest" message="tns:getProjects"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getProjectsResponse" message="tns:getProjectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getProjects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAllPermissions">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllPermissionsRequest" message="tns:getAllPermissions"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllPermissionsResponse" message="tns:getAllPermissionsResponse"/>
</operation>
<operation name="getAllLdapConfigurations">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllLdapConfigurationsRequest" message="tns:getAllLdapConfigurations"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllLdapConfigurationsResponse" message="tns:getAllLdapConfigurationsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllLdapConfigurations/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getDeleteSnapshotJobInfo">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDeleteSnapshotJobInfoRequest" message="tns:getDeleteSnapshotJobInfo"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDeleteSnapshotJobInfoResponse" message="tns:getDeleteSnapshotJobInfoResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDeleteSnapshotJobInfo/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSnapshotsForStream">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotsForStreamRequest" message="tns:getSnapshotsForStream"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotsForStreamResponse" message="tns:getSnapshotsForStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotsForStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteLdapConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteLdapConfigurationRequest" message="tns:deleteLdapConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteLdapConfigurationResponse" message="tns:deleteLdapConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteLdapConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteSnapshot">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteSnapshotRequest" message="tns:deleteSnapshot"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteSnapshotResponse" message="tns:deleteSnapshotResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/deleteSnapshot/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setAcceptingNewCommits">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setAcceptingNewCommitsRequest" message="tns:setAcceptingNewCommits"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setAcceptingNewCommitsResponse" message="tns:setAcceptingNewCommitsResponse"/>
</operation>
<operation name="getLastUpdateTimes">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLastUpdateTimesRequest" message="tns:getLastUpdateTimes"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLastUpdateTimesResponse" message="tns:getLastUpdateTimesResponse"/>
</operation>
<operation name="executeNotification">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/executeNotificationRequest" message="tns:executeNotification"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/executeNotificationResponse" message="tns:executeNotificationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/executeNotification/Fault/CovRemoteServiceException"/>
</operation>
<operation name="copyStream">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/copyStreamRequest" message="tns:copyStream"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/copyStreamResponse" message="tns:copyStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/copyStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createStreamInProject">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createStreamInProjectRequest" message="tns:createStreamInProject"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createStreamInProjectResponse" message="tns:createStreamInProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createStreamInProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMessageOfTheDay">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getMessageOfTheDayRequest" message="tns:getMessageOfTheDay"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getMessageOfTheDayResponse" message="tns:getMessageOfTheDayResponse"/>
</operation>
<operation name="setMessageOfTheDay">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setMessageOfTheDayRequest" message="tns:setMessageOfTheDay"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setMessageOfTheDayResponse" message="tns:setMessageOfTheDayResponse"/>
</operation>
<operation name="getComponentMaps">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getComponentMapsRequest" message="tns:getComponentMaps"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getComponentMapsResponse" message="tns:getComponentMapsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getComponentMaps/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getTriageStores">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getTriageStoresRequest" message="tns:getTriageStores"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getTriageStoresResponse" message="tns:getTriageStoresResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getTriageStores/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getTypeNames">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getTypeNamesRequest" message="tns:getTypeNames"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getTypeNamesResponse" message="tns:getTypeNamesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getTypeNames/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getDefectStatuses">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDefectStatusesRequest" message="tns:getDefectStatuses"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDefectStatusesResponse" message="tns:getDefectStatusesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDefectStatuses/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSnapshotInformation">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotInformationRequest" message="tns:getSnapshotInformation"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotInformationResponse" message="tns:getSnapshotInformationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotInformation/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateSnapshotInfo">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateSnapshotInfoRequest" message="tns:updateSnapshotInfo"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateSnapshotInfoResponse" message="tns:updateSnapshotInfoResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateSnapshotInfo/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCommitState">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCommitStateRequest" message="tns:getCommitState"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCommitStateResponse" message="tns:getCommitStateResponse"/>
</operation>
<operation name="getLdapServerDomains">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLdapServerDomainsRequest" message="tns:getLdapServerDomains"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLdapServerDomainsResponse" message="tns:getLdapServerDomainsResponse"/>
</operation>
<operation name="mergeTriageStores">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/mergeTriageStoresRequest" message="tns:mergeTriageStores"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/mergeTriageStoresResponse" message="tns:mergeTriageStoresResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/mergeTriageStores/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getServerTime">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getServerTimeRequest" message="tns:getServerTime"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getServerTimeResponse" message="tns:getServerTimeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getServerTime/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getLicenseState">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLicenseStateRequest" message="tns:getLicenseState"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLicenseStateResponse" message="tns:getLicenseStateResponse"/>
</operation>
<operation name="getOutputFileForSnapshot">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getOutputFileForSnapshotRequest" message="tns:getOutputFileForSnapshot"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getOutputFileForSnapshotResponse" message="tns:getOutputFileForSnapshotResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getOutputFileForSnapshot/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createLdapConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createLdapConfigurationRequest" message="tns:createLdapConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createLdapConfigurationResponse" message="tns:createLdapConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createLdapConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateLdapConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateLdapConfigurationRequest" message="tns:updateLdapConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateLdapConfigurationResponse" message="tns:updateLdapConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateLdapConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSnapshotPurgeDetails">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotPurgeDetailsRequest" message="tns:getSnapshotPurgeDetails"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotPurgeDetailsResponse" message="tns:getSnapshotPurgeDetailsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSnapshotPurgeDetails/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setSnapshotPurgeDetails">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setSnapshotPurgeDetailsRequest" message="tns:setSnapshotPurgeDetails"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setSnapshotPurgeDetailsResponse" message="tns:setSnapshotPurgeDetailsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setSnapshotPurgeDetails/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getLoggingConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLoggingConfigurationRequest" message="tns:getLoggingConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLoggingConfigurationResponse" message="tns:getLoggingConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLoggingConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setLoggingConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setLoggingConfigurationRequest" message="tns:setLoggingConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setLoggingConfigurationResponse" message="tns:setLoggingConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setLoggingConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getBackupConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getBackupConfigurationRequest" message="tns:getBackupConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getBackupConfigurationResponse" message="tns:getBackupConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getBackupConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setBackupConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setBackupConfigurationRequest" message="tns:setBackupConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setBackupConfigurationResponse" message="tns:setBackupConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setBackupConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSkeletonizationConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSkeletonizationConfigurationRequest" message="tns:getSkeletonizationConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSkeletonizationConfigurationResponse" message="tns:getSkeletonizationConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSkeletonizationConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setSkeletonizationConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setSkeletonizationConfigurationRequest" message="tns:setSkeletonizationConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setSkeletonizationConfigurationResponse" message="tns:setSkeletonizationConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setSkeletonizationConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSignInConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSignInConfigurationRequest" message="tns:getSignInConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSignInConfigurationResponse" message="tns:getSignInConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getSignInConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getArchitectureAnalysisConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getArchitectureAnalysisConfigurationRequest" message="tns:getArchitectureAnalysisConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getArchitectureAnalysisConfigurationResponse" message="tns:getArchitectureAnalysisConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getArchitectureAnalysisConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setArchitectureAnalysisConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setArchitectureAnalysisConfigurationRequest" message="tns:setArchitectureAnalysisConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setArchitectureAnalysisConfigurationResponse" message="tns:setArchitectureAnalysisConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/setArchitectureAnalysisConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateSignInConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateSignInConfigurationRequest" message="tns:updateSignInConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateSignInConfigurationResponse" message="tns:updateSignInConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/updateSignInConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getDeveloperStreamsProjects">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDeveloperStreamsProjectsRequest" message="tns:getDeveloperStreamsProjects"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDeveloperStreamsProjectsResponse" message="tns:getDeveloperStreamsProjectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getDeveloperStreamsProjects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="importLicense">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/importLicenseRequest" message="tns:importLicense"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/importLicenseResponse" message="tns:importLicenseResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/importLicense/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getLicenseConfiguration">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLicenseConfigurationRequest" message="tns:getLicenseConfiguration"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLicenseConfigurationResponse" message="tns:getLicenseConfigurationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getLicenseConfiguration/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCheckerNames">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCheckerNamesRequest" message="tns:getCheckerNames"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCheckerNamesResponse" message="tns:getCheckerNamesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCheckerNames/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createAttribute">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createAttributeRequest" message="tns:createAttribute"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createAttributeResponse" message="tns:createAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createGroup">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createGroupRequest" message="tns:createGroup"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createGroupResponse" message="tns:createGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getVersion">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getVersionRequest" message="tns:getVersion"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getVersionResponse" message="tns:getVersionResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getVersion/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAttribute">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAttributeRequest" message="tns:getAttribute"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAttributeResponse" message="tns:getAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCategoryNames">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCategoryNamesRequest" message="tns:getCategoryNames"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCategoryNamesResponse" message="tns:getCategoryNamesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getCategoryNames/Fault/CovRemoteServiceException"/>
</operation>
<operation name="notify">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/notifyRequest" message="tns:notify"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/notifyResponse" message="tns:notifyResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/notify/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAttributes">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAttributesRequest" message="tns:getAttributes"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAttributesResponse" message="tns:getAttributesResponse"/>
</operation>
<operation name="getComponent">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getComponentRequest" message="tns:getComponent"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getComponentResponse" message="tns:getComponentResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getComponent/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getGroups">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getGroupsRequest" message="tns:getGroups"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getGroupsResponse" message="tns:getGroupsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getGroups/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getUsersResponse" message="tns:getUsersResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getUsers/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getGroup">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getGroupRequest" message="tns:getGroup"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getGroupResponse" message="tns:getGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getRole">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getRoleRequest" message="tns:getRole"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getRoleResponse" message="tns:getRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAllRoles">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllRolesRequest" message="tns:getAllRoles"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/getAllRolesResponse" message="tns:getAllRolesResponse"/>
</operation>
<operation name="createRole">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createRoleRequest" message="tns:createRole"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createRoleResponse" message="tns:createRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/ConfigurationService/createUser/Fault/CovRemoteServiceException"/>
</operation>
</portType>
<binding name="ConfigurationServicePortBinding" type="tns:ConfigurationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createComponentMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateComponentMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteComponentMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getStreams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSystemConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getProjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAllPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllLdapConfigurations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getDeleteSnapshotJobInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSnapshotsForStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteLdapConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteSnapshot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setAcceptingNewCommits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastUpdateTimes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executeNotification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="copyStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createStreamInProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMessageOfTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMessageOfTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComponentMaps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getTriageStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getTypeNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getDefectStatuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSnapshotInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateSnapshotInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCommitState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLdapServerDomains">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mergeTriageStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getServerTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLicenseState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOutputFileForSnapshot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createLdapConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateLdapConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSnapshotPurgeDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setSnapshotPurgeDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLoggingConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setLoggingConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getBackupConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setBackupConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSkeletonizationConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setSkeletonizationConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSignInConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getArchitectureAnalysisConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setArchitectureAnalysisConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateSignInConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getDeveloperStreamsProjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="importLicense">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLicenseConfiguration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCheckerNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCategoryNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="notify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComponent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAllRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ConfigurationServiceService">
<port name="ConfigurationServicePort" binding="tns:ConfigurationServicePortBinding">
<soap:address location="http://localhost:1780/ws/v9/configurationservice"/>
</port>
</service>
</definitions>