src/main/resources/configurationService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><xs:schema xmlns:tns="http://ws.coverity.com/v9" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.coverity.com/v9">

<xs:element name="CoverityFault" type="tns:CovRemoteServiceException"/>

<xs:element name="copyStream" type="tns:copyStream"/>

<xs:element name="copyStreamResponse" type="tns:copyStreamResponse"/>

<xs:element name="createAttribute" type="tns:createAttribute"/>

<xs:element name="createAttributeResponse" type="tns:createAttributeResponse"/>

<xs:element name="createComponentMap" type="tns:createComponentMap"/>

<xs:element name="createComponentMapResponse" type="tns:createComponentMapResponse"/>

<xs:element name="createGroup" type="tns:createGroup"/>

<xs:element name="createGroupResponse" type="tns:createGroupResponse"/>

<xs:element name="createLdapConfiguration" type="tns:createLdapConfiguration"/>

<xs:element name="createLdapConfigurationResponse" type="tns:createLdapConfigurationResponse"/>

<xs:element name="createProject" type="tns:createProject"/>

<xs:element name="createProjectResponse" type="tns:createProjectResponse"/>

<xs:element name="createRole" type="tns:createRole"/>

<xs:element name="createRoleResponse" type="tns:createRoleResponse"/>

<xs:element name="createStream" type="tns:createStream"/>

<xs:element name="createStreamInProject" type="tns:createStreamInProject"/>

<xs:element name="createStreamInProjectResponse" type="tns:createStreamInProjectResponse"/>

<xs:element name="createStreamResponse" type="tns:createStreamResponse"/>

<xs:element name="createTriageStore" type="tns:createTriageStore"/>

<xs:element name="createTriageStoreResponse" type="tns:createTriageStoreResponse"/>

<xs:element name="createUser" type="tns:createUser"/>

<xs:element name="createUserResponse" type="tns:createUserResponse"/>

<xs:element name="deleteAttribute" type="tns:deleteAttribute"/>

<xs:element name="deleteAttributeResponse" type="tns:deleteAttributeResponse"/>

<xs:element name="deleteComponentMap" type="tns:deleteComponentMap"/>

<xs:element name="deleteComponentMapResponse" type="tns:deleteComponentMapResponse"/>

<xs:element name="deleteGroup" type="tns:deleteGroup"/>

<xs:element name="deleteGroupResponse" type="tns:deleteGroupResponse"/>

<xs:element name="deleteLdapConfiguration" type="tns:deleteLdapConfiguration"/>

<xs:element name="deleteLdapConfigurationResponse" type="tns:deleteLdapConfigurationResponse"/>

<xs:element name="deleteProject" type="tns:deleteProject"/>

<xs:element name="deleteProjectResponse" type="tns:deleteProjectResponse"/>

<xs:element name="deleteRole" type="tns:deleteRole"/>

<xs:element name="deleteRoleResponse" type="tns:deleteRoleResponse"/>

<xs:element name="deleteSnapshot" type="tns:deleteSnapshot"/>

<xs:element name="deleteSnapshotResponse" type="tns:deleteSnapshotResponse"/>

<xs:element name="deleteStream" type="tns:deleteStream"/>

<xs:element name="deleteStreamResponse" type="tns:deleteStreamResponse"/>

<xs:element name="deleteTriageStore" type="tns:deleteTriageStore"/>

<xs:element name="deleteTriageStoreResponse" type="tns:deleteTriageStoreResponse"/>

<xs:element name="deleteUser" type="tns:deleteUser"/>

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

<xs:element name="executeNotification" type="tns:executeNotification"/>

<xs:element name="executeNotificationResponse" type="tns:executeNotificationResponse"/>

<xs:element name="getAllLdapConfigurations" type="tns:getAllLdapConfigurations"/>

<xs:element name="getAllLdapConfigurationsResponse" type="tns:getAllLdapConfigurationsResponse"/>

<xs:element name="getAllPermissions" type="tns:getAllPermissions"/>

<xs:element name="getAllPermissionsResponse" type="tns:getAllPermissionsResponse"/>

<xs:element name="getAllRoles" type="tns:getAllRoles"/>

<xs:element name="getAllRolesResponse" type="tns:getAllRolesResponse"/>

<xs:element name="getArchitectureAnalysisConfiguration" type="tns:getArchitectureAnalysisConfiguration"/>

<xs:element name="getArchitectureAnalysisConfigurationResponse" type="tns:getArchitectureAnalysisConfigurationResponse"/>

<xs:element name="getAttribute" type="tns:getAttribute"/>

<xs:element name="getAttributeResponse" type="tns:getAttributeResponse"/>

<xs:element name="getAttributes" type="tns:getAttributes"/>

<xs:element name="getAttributesResponse" type="tns:getAttributesResponse"/>

<xs:element name="getBackupConfiguration" type="tns:getBackupConfiguration"/>

<xs:element name="getBackupConfigurationResponse" type="tns:getBackupConfigurationResponse"/>

<xs:element name="getCategoryNames" type="tns:getCategoryNames"/>

<xs:element name="getCategoryNamesResponse" type="tns:getCategoryNamesResponse"/>

<xs:element name="getCheckerNames" type="tns:getCheckerNames"/>

<xs:element name="getCheckerNamesResponse" type="tns:getCheckerNamesResponse"/>

<xs:element name="getCommitState" type="tns:getCommitState"/>

<xs:element name="getCommitStateResponse" type="tns:getCommitStateResponse"/>

<xs:element name="getComponent" type="tns:getComponent"/>

<xs:element name="getComponentMaps" type="tns:getComponentMaps"/>

<xs:element name="getComponentMapsResponse" type="tns:getComponentMapsResponse"/>

<xs:element name="getComponentResponse" type="tns:getComponentResponse"/>

<xs:element name="getDefectStatuses" type="tns:getDefectStatuses"/>

<xs:element name="getDefectStatusesResponse" type="tns:getDefectStatusesResponse"/>

<xs:element name="getDeleteSnapshotJobInfo" type="tns:getDeleteSnapshotJobInfo"/>

<xs:element name="getDeleteSnapshotJobInfoResponse" type="tns:getDeleteSnapshotJobInfoResponse"/>

<xs:element name="getDeveloperStreamsProjects" type="tns:getDeveloperStreamsProjects"/>

<xs:element name="getDeveloperStreamsProjectsResponse" type="tns:getDeveloperStreamsProjectsResponse"/>

<xs:element name="getGroup" type="tns:getGroup"/>

<xs:element name="getGroupResponse" type="tns:getGroupResponse"/>

<xs:element name="getGroups" type="tns:getGroups"/>

<xs:element name="getGroupsResponse" type="tns:getGroupsResponse"/>

<xs:element name="getLastUpdateTimes" type="tns:getLastUpdateTimes"/>

<xs:element name="getLastUpdateTimesResponse" type="tns:getLastUpdateTimesResponse"/>

<xs:element name="getLdapServerDomains" type="tns:getLdapServerDomains"/>

<xs:element name="getLdapServerDomainsResponse" type="tns:getLdapServerDomainsResponse"/>

<xs:element name="getLicenseConfiguration" type="tns:getLicenseConfiguration"/>

<xs:element name="getLicenseConfigurationResponse" type="tns:getLicenseConfigurationResponse"/>

<xs:element name="getLicenseState" type="tns:getLicenseState"/>

<xs:element name="getLicenseStateResponse" type="tns:getLicenseStateResponse"/>

<xs:element name="getLoggingConfiguration" type="tns:getLoggingConfiguration"/>

<xs:element name="getLoggingConfigurationResponse" type="tns:getLoggingConfigurationResponse"/>

<xs:element name="getMessageOfTheDay" type="tns:getMessageOfTheDay"/>

<xs:element name="getMessageOfTheDayResponse" type="tns:getMessageOfTheDayResponse"/>

<xs:element name="getOutputFileForSnapshot" type="tns:getOutputFileForSnapshot"/>

<xs:element name="getOutputFileForSnapshotResponse" type="tns:getOutputFileForSnapshotResponse"/>

<xs:element name="getProjects" type="tns:getProjects"/>

<xs:element name="getProjectsResponse" type="tns:getProjectsResponse"/>

<xs:element name="getRole" type="tns:getRole"/>

<xs:element name="getRoleResponse" type="tns:getRoleResponse"/>

<xs:element name="getServerTime" type="tns:getServerTime"/>

<xs:element name="getServerTimeResponse" type="tns:getServerTimeResponse"/>

<xs:element name="getSignInConfiguration" type="tns:getSignInConfiguration"/>

<xs:element name="getSignInConfigurationResponse" type="tns:getSignInConfigurationResponse"/>

<xs:element name="getSkeletonizationConfiguration" type="tns:getSkeletonizationConfiguration"/>

<xs:element name="getSkeletonizationConfigurationResponse" type="tns:getSkeletonizationConfigurationResponse"/>

<xs:element name="getSnapshotInformation" type="tns:getSnapshotInformation"/>

<xs:element name="getSnapshotInformationResponse" type="tns:getSnapshotInformationResponse"/>

<xs:element name="getSnapshotPurgeDetails" type="tns:getSnapshotPurgeDetails"/>

<xs:element name="getSnapshotPurgeDetailsResponse" type="tns:getSnapshotPurgeDetailsResponse"/>

<xs:element name="getSnapshotsForStream" type="tns:getSnapshotsForStream"/>

<xs:element name="getSnapshotsForStreamResponse" type="tns:getSnapshotsForStreamResponse"/>

<xs:element name="getStreams" type="tns:getStreams"/>

<xs:element name="getStreamsResponse" type="tns:getStreamsResponse"/>

<xs:element name="getSystemConfig" type="tns:getSystemConfig"/>

<xs:element name="getSystemConfigResponse" type="tns:getSystemConfigResponse"/>

<xs:element name="getTriageStores" type="tns:getTriageStores"/>

<xs:element name="getTriageStoresResponse" type="tns:getTriageStoresResponse"/>

<xs:element name="getTypeNames" type="tns:getTypeNames"/>

<xs:element name="getTypeNamesResponse" type="tns:getTypeNamesResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="getVersion" type="tns:getVersion"/>

<xs:element name="getVersionResponse" type="tns:getVersionResponse"/>

<xs:element name="importLicense" type="tns:importLicense"/>

<xs:element name="importLicenseResponse" type="tns:importLicenseResponse"/>

<xs:element name="mergeTriageStores" type="tns:mergeTriageStores"/>

<xs:element name="mergeTriageStoresResponse" type="tns:mergeTriageStoresResponse"/>

<xs:element name="notify" type="tns:notify"/>

<xs:element name="notifyResponse" type="tns:notifyResponse"/>

<xs:element name="setAcceptingNewCommits" type="tns:setAcceptingNewCommits"/>

<xs:element name="setAcceptingNewCommitsResponse" type="tns:setAcceptingNewCommitsResponse"/>

<xs:element name="setArchitectureAnalysisConfiguration" type="tns:setArchitectureAnalysisConfiguration"/>

<xs:element name="setArchitectureAnalysisConfigurationResponse" type="tns:setArchitectureAnalysisConfigurationResponse"/>

<xs:element name="setBackupConfiguration" type="tns:setBackupConfiguration"/>

<xs:element name="setBackupConfigurationResponse" type="tns:setBackupConfigurationResponse"/>

<xs:element name="setLoggingConfiguration" type="tns:setLoggingConfiguration"/>

<xs:element name="setLoggingConfigurationResponse" type="tns:setLoggingConfigurationResponse"/>

<xs:element name="setMessageOfTheDay" type="tns:setMessageOfTheDay"/>

<xs:element name="setMessageOfTheDayResponse" type="tns:setMessageOfTheDayResponse"/>

<xs:element name="setSkeletonizationConfiguration" type="tns:setSkeletonizationConfiguration"/>

<xs:element name="setSkeletonizationConfigurationResponse" type="tns:setSkeletonizationConfigurationResponse"/>

<xs:element name="setSnapshotPurgeDetails" type="tns:setSnapshotPurgeDetails"/>

<xs:element name="setSnapshotPurgeDetailsResponse" type="tns:setSnapshotPurgeDetailsResponse"/>

<xs:element name="updateAttribute" type="tns:updateAttribute"/>

<xs:element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>

<xs:element name="updateComponentMap" type="tns:updateComponentMap"/>

<xs:element name="updateComponentMapResponse" type="tns:updateComponentMapResponse"/>

<xs:element name="updateGroup" type="tns:updateGroup"/>

<xs:element name="updateGroupResponse" type="tns:updateGroupResponse"/>

<xs:element name="updateLdapConfiguration" type="tns:updateLdapConfiguration"/>

<xs:element name="updateLdapConfigurationResponse" type="tns:updateLdapConfigurationResponse"/>

<xs:element name="updateProject" type="tns:updateProject"/>

<xs:element name="updateProjectResponse" type="tns:updateProjectResponse"/>

<xs:element name="updateRole" type="tns:updateRole"/>

<xs:element name="updateRoleResponse" type="tns:updateRoleResponse"/>

<xs:element name="updateSignInConfiguration" type="tns:updateSignInConfiguration"/>

<xs:element name="updateSignInConfigurationResponse" type="tns:updateSignInConfigurationResponse"/>

<xs:element name="updateSnapshotInfo" type="tns:updateSnapshotInfo"/>

<xs:element name="updateSnapshotInfoResponse" type="tns:updateSnapshotInfoResponse"/>

<xs:element name="updateStream" type="tns:updateStream"/>

<xs:element name="updateStreamResponse" type="tns:updateStreamResponse"/>

<xs:element name="updateTriageStore" type="tns:updateTriageStore"/>

<xs:element name="updateTriageStoreResponse" type="tns:updateTriageStoreResponse"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

<xs:complexType name="updateRole">
<xs:sequence>
<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
<xs:element name="roleSpec" type="tns:roleSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roleIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roleSpecDataObj">
<xs:sequence>
<xs:element name="deletable" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="editable" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="permissionDataObjs" type="tns:permissionDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="permissionDataObj">
<xs:sequence>
<xs:element name="permissionValue" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRoleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CovRemoteServiceException">
<xs:sequence>
<xs:element name="errorCode" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLdapServerDomains">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLdapServerDomainsResponse">
<xs:sequence>
<xs:element name="return" type="tns:serverDomainIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serverDomainIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeleteSnapshotJobInfo">
<xs:sequence>
<xs:element name="snapshotId" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="snapshotIdDataObj">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeleteSnapshotJobInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:deleteSnapshotJobInfoDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSnapshotJobInfoDataObj">
<xs:sequence>
<xs:element name="snapshotId" type="xs:long"/>
<xs:element name="status" type="tns:deleteSnapshotJobStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProject">
<xs:sequence>
<xs:element name="projectSpec" type="tns:projectSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectSpecDataObj">
<xs:sequence>
<xs:element name="streams" type="tns:streamIdDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="streamLinks" type="tns:streamIdDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="streamIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roleAssignmentDataObj">
<xs:sequence>
<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
<xs:element name="roleAssignmentType" type="xs:string" minOccurs="0"/>
<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groupIdDataObj">
<xs:sequence>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProjectResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createRole">
<xs:sequence>
<xs:element name="roleSpec" type="tns:roleSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createRoleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteLdapConfiguration">
<xs:sequence>
<xs:element name="serverDomainIdDataObj" type="tns:serverDomainIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLdapConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createStream">
<xs:sequence>
<xs:element name="streamSpec" type="tns:streamSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="streamSpecDataObj">
<xs:sequence>
<xs:element name="allowCommitWithoutPassword" type="xs:boolean" minOccurs="0"/>
<xs:element name="analysisVersionOverride" type="xs:string" minOccurs="0"/>
<xs:element name="autoDeleteOnExpiry" type="xs:boolean" minOccurs="0"/>
<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="enableDesktopAnalysis" type="xs:boolean" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outdated" type="xs:boolean" minOccurs="0"/>
<xs:element name="ownerAssignmentOption" type="xs:string" minOccurs="0"/>
<xs:element name="pluginVersionOverride" type="xs:string" minOccurs="0"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="summaryExpirationDays" type="xs:int" minOccurs="0"/>
<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
<xs:element name="versionMismatchMessage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentMapIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triageStoreIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createStreamResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence>
<xs:element name="filterSpec" type="tns:userFilterSpecDataObj" minOccurs="0"/>
<xs:element name="pageSpec" type="tns:pageSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userFilterSpecDataObj">
<xs:sequence>
<xs:element name="assignable" type="xs:boolean" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="groupsList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="includeDetails" type="xs:boolean" minOccurs="0"/>
<xs:element name="ldap" type="xs:boolean" minOccurs="0"/>
<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
<xs:element name="projectIdDataObj" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="startId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pageSpecDataObj">
<xs:sequence>
<xs:element name="pageSize" type="xs:int"/>
<xs:element name="sortAscending" type="xs:boolean"/>
<xs:element name="sortField" type="xs:string" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:usersPageDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usersPageDataObj">
<xs:sequence>
<xs:element name="users" type="tns:userDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="totalNumberOfRecords" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userDataObj">
<xs:sequence>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateDeleted" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateModified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="familyName" type="xs:string" minOccurs="0"/>
<xs:element name="givenName" type="xs:string" minOccurs="0"/>
<xs:element name="groups" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="lastLogin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="local" type="xs:boolean" minOccurs="0"/>
<xs:element name="locale" type="xs:string" minOccurs="0"/>
<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
<xs:element name="passwordChanged" type="xs:dateTime" minOccurs="0"/>
<xs:element name="superUser" type="xs:boolean" minOccurs="0"/>
<xs:element name="userCreated" type="xs:string" minOccurs="0"/>
<xs:element name="userDeleted" type="xs:string" minOccurs="0"/>
<xs:element name="userModified" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSnapshot">
<xs:sequence>
<xs:element name="snapshotId" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSnapshotResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTypeNames">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTypeNamesResponse">
<xs:sequence>
<xs:element name="return" type="tns:localizedValueDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localizedValueDataObj">
<xs:sequence>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroups">
<xs:sequence>
<xs:element name="filterSpec" type="tns:groupFilterSpecDataObj" minOccurs="0"/>
<xs:element name="pageSpec" type="tns:pageSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groupFilterSpecDataObj">
<xs:sequence>
<xs:element name="ldap" type="xs:boolean" minOccurs="0"/>
<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
<xs:element name="projectIdDataObj" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="userList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:groupsPageDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groupsPageDataObj">
<xs:sequence>
<xs:element name="groups" type="tns:groupDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="totalNumberOfRecords" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groupDataObj">
<xs:sequence>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="local" type="xs:boolean"/>
<xs:element name="name" type="tns:groupIdDataObj" minOccurs="0"/>
<xs:element name="syncEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSystemConfig">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSystemConfigResponse">
<xs:sequence>
<xs:element name="return" type="tns:configurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="configurationDataObj">
<xs:sequence>
<xs:element name="commitPort" type="xs:long" minOccurs="0"/>
<xs:element name="dbDialect" type="xs:string" minOccurs="0"/>
<xs:element name="dbDriver" type="xs:string" minOccurs="0"/>
<xs:element name="issueExportUrl" type="xs:string" minOccurs="0"/>
<xs:element name="maindbName" type="xs:string" minOccurs="0"/>
<xs:element name="maindbUrl" type="xs:string" minOccurs="0"/>
<xs:element name="maindbUser" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStreams">
<xs:sequence>
<xs:element name="filterSpec" type="tns:streamFilterSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="streamFilterSpecDataObj">
<xs:sequence>
<xs:element name="languageList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStreamsResponse">
<xs:sequence>
<xs:element name="return" type="tns:streamDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="streamDataObj">
<xs:sequence>
<xs:element name="autoDeleteOnExpiry" type="xs:boolean"/>
<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="tns:streamIdDataObj" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
<xs:element name="outdated" type="xs:boolean" minOccurs="0"/>
<xs:element name="primaryProjectId" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="analysisVersionOverride" type="xs:string" minOccurs="0"/>
<xs:element name="summaryExpirationDays" type="xs:int" minOccurs="0"/>
<xs:element name="pluginVersionOverride" type="xs:string" minOccurs="0"/>
<xs:element name="versionMismatchMessage" type="xs:string" minOccurs="0"/>
<xs:element name="enableDesktopAnalysis" type="xs:boolean" minOccurs="0"/>
<xs:element name="ownerAssignmentOption" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjects">
<xs:sequence>
<xs:element name="filterSpec" type="tns:projectFilterSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectFilterSpecDataObj">
<xs:sequence>
<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
<xs:element name="includeChildren" type="xs:boolean" minOccurs="0"/>
<xs:element name="includeStreams" type="xs:boolean" minOccurs="0"/>
<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjectsResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projectDataObj">
<xs:sequence>
<xs:element name="streams" type="tns:streamDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="streamLinks" type="tns:streamDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateModified" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="projectKey" type="xs:long" minOccurs="0"/>
<xs:element name="userCreated" type="xs:string" minOccurs="0"/>
<xs:element name="userModified" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastUpdateTimes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLastUpdateTimesResponse">
<xs:sequence>
<xs:element name="return" type="tns:featureUpdateTimeDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="featureUpdateTimeDataObj">
<xs:sequence>
<xs:element name="featureName" type="xs:string" minOccurs="0"/>
<xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLoggingConfiguration">
<xs:sequence>
<xs:element name="loggingConfigurationDataObj" type="tns:loggingConfigurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loggingConfigurationDataObj">
<xs:sequence>
<xs:element name="accessControlLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="backgroundLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="commitLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="configurationLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="databaseLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="frameworkLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="internalLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="notificationLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="performanceLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="policyManagerLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="remoteConfigLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="requestPerformanceLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="skeletonizationLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="testAdvisorLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="triageLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="triageSynchLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="webLogging" type="xs:boolean" minOccurs="0"/>
<xs:element name="webServicesLogging" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLoggingConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAttributes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAttributesResponse">
<xs:sequence>
<xs:element name="return" type="tns:attributeDefinitionDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeDefinitionDataObj">
<xs:sequence>
<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
<xs:element name="attributeType" type="xs:string" minOccurs="0"/>
<xs:element name="builtIn" type="xs:boolean"/>
<xs:element name="configurableValues" type="tns:attributeValueDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="displayDescription" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="showInTriage" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeDefinitionIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeValueDataObj">
<xs:sequence>
<xs:element name="attributeValueId" type="tns:attributeValueIdDataObj" minOccurs="0"/>
<xs:element name="deprecated" type="xs:boolean"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="issueKindList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeValueIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroup">
<xs:sequence>
<xs:element name="groupSpec" type="tns:groupSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="groupSpecDataObj">
<xs:sequence>
<xs:element name="clearRoles" type="xs:boolean" minOccurs="0"/>
<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
<xs:element name="local" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="syncEnabled" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroupResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLicenseState">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLicenseStateResponse">
<xs:sequence>
<xs:element name="return" type="tns:licenseStateDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="licenseStateDataObj">
<xs:sequence>
<xs:element name="desktopAnalysisEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSkeletonizationConfiguration">
<xs:sequence>
<xs:element name="skeletonizationConfigurationDataObj" type="tns:skeletonizationConfigurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="skeletonizationConfigurationDataObj">
<xs:sequence>
<xs:element name="daysBeforeSkeletonization" type="xs:int" minOccurs="0"/>
<xs:element name="fridayEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="minSnapshotsToKeep" type="xs:int" minOccurs="0"/>
<xs:element name="mondayEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="saturdayEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="sundayEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="thursdayEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
<xs:element name="tuesdayEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="wednesdayEnabled" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSkeletonizationConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOutputFileForSnapshot">
<xs:sequence>
<xs:element name="snapshotId" type="tns:snapshotIdDataObj" minOccurs="0"/>
<xs:element name="fileName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutputFileForSnapshotResponse">
<xs:sequence>
<xs:element name="return" type="tns:outputFileDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outputFileDataObj">
<xs:sequence>
<xs:element name="contents" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCommitState">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCommitStateResponse">
<xs:sequence>
<xs:element name="return" type="tns:commitStateDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commitStateDataObj">
<xs:sequence>
<xs:element name="currentCommitCount" type="xs:int" minOccurs="0"/>
<xs:element name="isAcceptingNewCommits" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLdapConfiguration">
<xs:sequence>
<xs:element name="serverDomainIdDataObj" type="tns:serverDomainIdDataObj" minOccurs="0"/>
<xs:element name="ldapConfigurationSpec" type="tns:ldapConfigurationSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ldapConfigurationSpecDataObj">
<xs:sequence>
<xs:element name="anonymousBind" type="xs:boolean"/>
<xs:element name="baseDN" type="xs:string" minOccurs="0"/>
<xs:element name="bindName" type="xs:string" minOccurs="0"/>
<xs:element name="bindPassword" type="xs:string" minOccurs="0"/>
<xs:element name="displayName" type="xs:string" minOccurs="0"/>
<xs:element name="groupFilter" type="xs:string" minOccurs="0"/>
<xs:element name="groupFullName" type="xs:boolean"/>
<xs:element name="groupMember" type="xs:string" minOccurs="0"/>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="groupObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="groupSearchBase" type="xs:string" minOccurs="0"/>
<xs:element name="primary" type="xs:boolean"/>
<xs:element name="secureConnection" type="xs:boolean"/>
<xs:element name="serverDomain" type="xs:string" minOccurs="0"/>
<xs:element name="serverPort" type="xs:long" minOccurs="0"/>
<xs:element name="tlsEnabled" type="xs:boolean"/>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
<xs:element name="userFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="userLastName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="userObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="userSearchBase" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLdapConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="importLicense">
<xs:sequence>
<xs:element name="licenseSpecDataObj" type="tns:licenseSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="licenseSpecDataObj">
<xs:sequence>
<xs:element name="licenseDataFile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="importLicenseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoryNames">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoryNamesResponse">
<xs:sequence>
<xs:element name="return" type="tns:localizedValueDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setBackupConfiguration">
<xs:sequence>
<xs:element name="backupConfigurationDataObj" type="tns:backupConfigurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="backupConfigurationDataObj">
<xs:sequence>
<xs:element name="backupLocation" type="xs:string" minOccurs="0"/>
<xs:element name="backupTime" type="xs:string" minOccurs="0"/>
<xs:element name="fridayEnabled" type="xs:boolean"/>
<xs:element name="mondayEnabled" type="xs:boolean"/>
<xs:element name="saturdayEnabled" type="xs:boolean"/>
<xs:element name="sundayEnabled" type="xs:boolean"/>
<xs:element name="thursdayEnabled" type="xs:boolean"/>
<xs:element name="tuesdayEnabled" type="xs:boolean"/>
<xs:element name="wednesdayEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setBackupConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createTriageStore">
<xs:sequence>
<xs:element name="triageStoreSpec" type="tns:triageStoreSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triageStoreSpecDataObj">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTriageStoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGroup">
<xs:sequence>
<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroupResponse">
<xs:sequence>
<xs:element name="return" type="tns:groupDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProject">
<xs:sequence>
<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProjectResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createStreamInProject">
<xs:sequence>
<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="streamSpec" type="tns:streamSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createStreamInProjectResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMessageOfTheDay">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMessageOfTheDayResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAcceptingNewCommits">
<xs:sequence>
<xs:element name="acceptNewCommits" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setAcceptingNewCommitsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteComponentMap">
<xs:sequence>
<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteComponentMapResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getComponent">
<xs:sequence>
<xs:element name="componentId" type="tns:componentIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentIdDataObj">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getComponentResponse">
<xs:sequence>
<xs:element name="return" type="tns:componentDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentDataObj">
<xs:sequence>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="componentId" type="tns:componentIdDataObj"/>
<xs:element name="subscribers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteStream">
<xs:sequence>
<xs:element name="streamId" type="tns:streamIdDataObj" minOccurs="0"/>
<xs:element name="onlyIfEmpty" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteStreamResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLdapConfigurations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllLdapConfigurationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:ldapConfigurationDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ldapConfigurationDataObj">
<xs:sequence>
<xs:element name="anonymousBind" type="xs:boolean"/>
<xs:element name="baseDN" type="xs:string" minOccurs="0"/>
<xs:element name="bindName" type="xs:string" minOccurs="0"/>
<xs:element name="bindPassword" type="xs:string" minOccurs="0"/>
<xs:element name="groupFilter" type="xs:string" minOccurs="0"/>
<xs:element name="groupFullName" type="xs:boolean"/>
<xs:element name="groupMember" type="xs:string" minOccurs="0"/>
<xs:element name="groupName" type="xs:string" minOccurs="0"/>
<xs:element name="groupObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="groupSearchBase" type="xs:string" minOccurs="0"/>
<xs:element name="primary" type="xs:boolean"/>
<xs:element name="secureConnection" type="xs:boolean"/>
<xs:element name="serverDomain" type="xs:string" minOccurs="0"/>
<xs:element name="serverDomainIdDataObj" type="tns:serverDomainIdDataObj" minOccurs="0"/>
<xs:element name="serverPort" type="xs:long" minOccurs="0"/>
<xs:element name="tlsEnabled" type="xs:boolean"/>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
<xs:element name="userFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="userLastName" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="userObjectClass" type="xs:string" minOccurs="0"/>
<xs:element name="userSearchBase" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:userDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeTriageStores">
<xs:sequence>
<xs:element name="srcTriageStoreIds" type="tns:triageStoreIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
<xs:element name="deleteSourceStores" type="xs:boolean"/>
<xs:element name="assignStreamsToTargetStore" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeTriageStoresResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="executeNotification">
<xs:sequence>
<xs:element name="viewname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeNotificationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSkeletonizationConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSkeletonizationConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="tns:skeletonizationConfigurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTriageStores">
<xs:sequence>
<xs:element name="filterSpec" type="tns:triageStoreFilterSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triageStoreFilterSpecDataObj">
<xs:sequence>
<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTriageStoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:triageStoreDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triageStoreDataObj">
<xs:sequence>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="tns:triageStoreIdDataObj" minOccurs="0"/>
<xs:element name="streamIds" type="tns:streamIdDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSnapshotInformation">
<xs:sequence>
<xs:element name="snapshotIds" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSnapshotInformationResponse">
<xs:sequence>
<xs:element name="return" type="tns:snapshotInfoDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="snapshotInfoDataObj">
<xs:sequence>
<xs:element name="analysisCommandLine" type="xs:string" minOccurs="0"/>
<xs:element name="analysisConfiguration" type="xs:string" minOccurs="0"/>
<xs:element name="analysisHost" type="xs:string" minOccurs="0"/>
<xs:element name="analysisIntermediateDir" type="xs:string" minOccurs="0"/>
<xs:element name="analysisInternalVersion" type="xs:string" minOccurs="0"/>
<xs:element name="analysisTime" type="xs:long" minOccurs="0"/>
<xs:element name="analysisVersion" type="xs:string" minOccurs="0"/>
<xs:element name="buildCommandLine" type="xs:string" minOccurs="0"/>
<xs:element name="buildConfiguration" type="xs:string" minOccurs="0"/>
<xs:element name="buildHost" type="xs:string" minOccurs="0"/>
<xs:element name="buildIntermediateDir" type="xs:string" minOccurs="0"/>
<xs:element name="buildTime" type="xs:long" minOccurs="0"/>
<xs:element name="codeVersionDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="commitUser" type="xs:string" minOccurs="0"/>
<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="enabledCheckers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="hasSummaries" type="xs:boolean"/>
<xs:element name="impactHashVersion" type="xs:int" minOccurs="0"/>
<xs:element name="portableAnalysisSettings" type="xs:string" minOccurs="0"/>
<xs:element name="purgedOfDetails" type="xs:boolean"/>
<xs:element name="snapshotId" type="tns:snapshotIdDataObj"/>
<xs:element name="sourceVersion" type="xs:string" minOccurs="0"/>
<xs:element name="target" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllRoles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllRolesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roleDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roleDataObj">
<xs:sequence>
<xs:element name="deletable" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="editable" type="xs:boolean" minOccurs="0"/>
<xs:element name="permissionDataObjs" type="tns:permissionDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createComponentMap">
<xs:sequence>
<xs:element name="componentMapSpec" type="tns:componentMapSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentMapSpecDataObj">
<xs:sequence>
<xs:element name="componentMapName" type="xs:string" minOccurs="0"/>
<xs:element name="componentPathRules" type="tns:componentPathRuleDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="components" type="tns:componentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defectRules" type="tns:componentDefectRuleDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="forceDeleteComponents" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentPathRuleDataObj">
<xs:sequence>
<xs:element name="componentId" type="tns:componentIdDataObj"/>
<xs:element name="pathPattern" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentDefectRuleDataObj">
<xs:sequence>
<xs:element name="componentId" type="tns:componentIdDataObj"/>
<xs:element name="defaultOwner" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createComponentMapResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPermissions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPermissionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:permissionDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notify">
<xs:sequence>
<xs:element name="usernames" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notifyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServerTime">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getServerTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTriageStore">
<xs:sequence>
<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
<xs:element name="triageStoreSpec" type="tns:triageStoreSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTriageStoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateGroup">
<xs:sequence>
<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
<xs:element name="groupSpec" type="tns:groupSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGroupResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getArchitectureAnalysisConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getArchitectureAnalysisConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAttribute">
<xs:sequence>
<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAttributeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setArchitectureAnalysisConfiguration">
<xs:sequence>
<xs:element name="architectureAnalysisConfiguration" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setArchitectureAnalysisConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAttribute">
<xs:sequence>
<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAttributeResponse">
<xs:sequence>
<xs:element name="return" type="tns:attributeDefinitionDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateComponentMap">
<xs:sequence>
<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
<xs:element name="componentMapSpec" type="tns:componentMapSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateComponentMapResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSnapshotPurgeDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSnapshotPurgeDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:snapshotPurgeDetailsObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="snapshotPurgeDetailsObj">
<xs:sequence>
<xs:element name="daysBeforeSkeletonization" type="xs:int"/>
<xs:element name="fridayEnabled" type="xs:boolean"/>
<xs:element name="minSnapshotsToKeep" type="xs:int"/>
<xs:element name="mondayEnabled" type="xs:boolean"/>
<xs:element name="saturdayEnabled" type="xs:boolean"/>
<xs:element name="sundayEnabled" type="xs:boolean"/>
<xs:element name="thursdayEnabled" type="xs:boolean"/>
<xs:element name="timeOfDay" type="xs:string" minOccurs="0"/>
<xs:element name="tuesdayEnabled" type="xs:boolean"/>
<xs:element name="wednesdayEnabled" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLicenseConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLicenseConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="tns:licenseDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="licenseDataObj">
<xs:sequence>
<xs:element name="customer" type="xs:string" minOccurs="0"/>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="licenseEditionName" type="xs:string" minOccurs="0"/>
<xs:element name="loc" type="xs:long" minOccurs="0"/>
<xs:element name="locLimit" type="xs:long" minOccurs="0"/>
<xs:element name="userCount" type="xs:int"/>
<xs:element name="userLimit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStream">
<xs:sequence>
<xs:element name="streamId" type="tns:streamIdDataObj" minOccurs="0"/>
<xs:element name="streamSpec" type="tns:streamSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStreamResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteGroup">
<xs:sequence>
<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGroupResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSignInConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSignInConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="tns:signInSettingsDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signInSettingsDataObj">
<xs:sequence>
<xs:element name="allowPasswordRecovery" type="xs:boolean" minOccurs="0"/>
<xs:element name="authenticationMethod" type="xs:string" minOccurs="0"/>
<xs:element name="disableLocalPasswordAuth" type="xs:boolean" minOccurs="0"/>
<xs:element name="enableLdapAuth" type="xs:boolean" minOccurs="0"/>
<xs:element name="enableSessionTimeout" type="xs:boolean" minOccurs="0"/>
<xs:element name="ldapUserAutoCreate" type="xs:boolean" minOccurs="0"/>
<xs:element name="limitFailedSignIns" type="xs:boolean" minOccurs="0"/>
<xs:element name="maxFailedSignInAttempts" type="xs:int" minOccurs="0"/>
<xs:element name="maxSessionIdleTime" type="xs:int" minOccurs="0"/>
<xs:element name="requireLdapGroupMembership" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBackupConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBackupConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="tns:backupConfigurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeveloperStreamsProjects">
<xs:sequence>
<xs:element name="filterSpec" type="tns:projectFilterSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeveloperStreamsProjectsResponse">
<xs:sequence>
<xs:element name="return" type="tns:projectDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVersion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element name="return" type="tns:versionDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="versionDataObj">
<xs:sequence>
<xs:element name="externalVersion" type="xs:string" minOccurs="0"/>
<xs:element name="internalVersion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRole">
<xs:sequence>
<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRoleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getComponentMaps">
<xs:sequence>
<xs:element name="filterSpec" type="tns:componentMapFilterSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentMapFilterSpecDataObj">
<xs:sequence>
<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getComponentMapsResponse">
<xs:sequence>
<xs:element name="return" type="tns:componentMapDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="componentMapDataObj">
<xs:sequence>
<xs:element name="componentMapId" type="tns:componentMapIdDataObj"/>
<xs:element name="componentPathRules" type="tns:componentPathRuleDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="components" type="tns:componentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="defectRules" type="tns:componentDefectRuleDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDefectStatuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDefectStatusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoggingConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLoggingConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="tns:loggingConfigurationDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="userSpec" type="tns:userSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userSpecDataObj">
<xs:sequence>
<xs:element name="clearRoles" type="xs:boolean" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="familyName" type="xs:string" minOccurs="0"/>
<xs:element name="givenName" type="xs:string" minOccurs="0"/>
<xs:element name="groupNames" type="tns:groupIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="local" type="xs:boolean" minOccurs="0"/>
<xs:element name="locale" type="xs:string" minOccurs="0"/>
<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRole">
<xs:sequence>
<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoleResponse">
<xs:sequence>
<xs:element name="return" type="tns:roleDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="copyStream">
<xs:sequence>
<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="sourceStreamId" type="tns:streamIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="copyStreamResponse">
<xs:sequence>
<xs:element name="return" type="tns:streamDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSnapshotInfo">
<xs:sequence>
<xs:element name="snapshotId" type="tns:snapshotIdDataObj" minOccurs="0"/>
<xs:element name="snapshotData" type="tns:snapshotInfoDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSnapshotInfoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateProject">
<xs:sequence>
<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
<xs:element name="projectSpec" type="tns:projectSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProjectResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateSignInConfiguration">
<xs:sequence>
<xs:element name="signInSettingsDataObj" type="tns:signInSettingsDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSignInConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createAttribute">
<xs:sequence>
<xs:element name="attributeDefinitionSpec" type="tns:attributeDefinitionSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeDefinitionSpecDataObj">
<xs:sequence>
<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
<xs:element name="attributeType" type="xs:string" minOccurs="0"/>
<xs:element name="attributeValueChangeSpec" type="tns:attributeValueChangeSpecDataObj" minOccurs="0"/>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="showInTriage" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeValueChangeSpecDataObj">
<xs:sequence>
<xs:element name="attributeValueIds" type="tns:attributeValueIdDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="attributeValues" type="tns:attributeValueSpecDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attributeValueSpecDataObj">
<xs:sequence>
<xs:element name="deprecated" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAttributeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateAttribute">
<xs:sequence>
<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
<xs:element name="attributeDefinitionSpec" type="tns:attributeDefinitionSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAttributeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteTriageStore">
<xs:sequence>
<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTriageStoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSnapshotsForStream">
<xs:sequence>
<xs:element name="streamId" type="tns:streamIdDataObj" minOccurs="0"/>
<xs:element name="filterSpec" type="tns:snapshotFilterSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="snapshotFilterSpecDataObj">
<xs:sequence>
<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="hasSummaries" type="xs:boolean" minOccurs="0"/>
<xs:element name="lastBeforeCodeVersionDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="targetPattern" type="xs:string" minOccurs="0"/>
<xs:element name="versionPattern" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSnapshotsForStreamResponse">
<xs:sequence>
<xs:element name="return" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setMessageOfTheDay">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setMessageOfTheDayResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createLdapConfiguration">
<xs:sequence>
<xs:element name="ldapConfigurationSpec" type="tns:ldapConfigurationSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createLdapConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setSnapshotPurgeDetails">
<xs:sequence>
<xs:element name="purgeDetailsSpec" type="tns:snapshotPurgeDetailsObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSnapshotPurgeDetailsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCheckerNames">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCheckerNamesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="userSpec" type="tns:userSpecDataObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="deleteSnapshotJobStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="QUEUED"/>
<xs:enumeration value="RUNNING"/>
<xs:enumeration value="SUCCEEDED"/>
<xs:enumeration value="FAILED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>