src/main/resources/defectService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.coverity.com/v9" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.coverity.com/v9" name="DefectServiceService">
<wsp:Policy wsu:Id="DefectServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.coverity.com/v9" schemaLocation="defectService.xsd"/>
</xsd:schema>
</types>
<message name="getTriageHistory">
<part name="parameters" element="tns:getTriageHistory"/>
</message>
<message name="getTriageHistoryResponse">
<part name="parameters" element="tns:getTriageHistoryResponse"/>
</message>
<message name="CovRemoteServiceException">
<part name="fault" element="tns:CoverityFault"/>
</message>
<message name="updateStreamDefects">
<part name="parameters" element="tns:updateStreamDefects"/>
</message>
<message name="updateStreamDefectsResponse">
<part name="parameters" element="tns:updateStreamDefectsResponse"/>
</message>
<message name="updateDefectInstanceProperties">
<part name="parameters" element="tns:updateDefectInstanceProperties"/>
</message>
<message name="updateDefectInstancePropertiesResponse">
<part name="parameters" element="tns:updateDefectInstancePropertiesResponse"/>
</message>
<message name="getStreamDefects">
<part name="parameters" element="tns:getStreamDefects"/>
</message>
<message name="getStreamDefectsResponse">
<part name="parameters" element="tns:getStreamDefectsResponse"/>
</message>
<message name="getMergedDefectsForStreams">
<part name="parameters" element="tns:getMergedDefectsForStreams"/>
</message>
<message name="getMergedDefectsForStreamsResponse">
<part name="parameters" element="tns:getMergedDefectsForStreamsResponse"/>
</message>
<message name="getMergedDefectHistory">
<part name="parameters" element="tns:getMergedDefectHistory"/>
</message>
<message name="getMergedDefectHistoryResponse">
<part name="parameters" element="tns:getMergedDefectHistoryResponse"/>
</message>
<message name="updateTriageForCIDsInTriageStore">
<part name="parameters" element="tns:updateTriageForCIDsInTriageStore"/>
</message>
<message name="updateTriageForCIDsInTriageStoreResponse">
<part name="parameters" element="tns:updateTriageForCIDsInTriageStoreResponse"/>
</message>
<message name="getTrendRecordsForProject">
<part name="parameters" element="tns:getTrendRecordsForProject"/>
</message>
<message name="getTrendRecordsForProjectResponse">
<part name="parameters" element="tns:getTrendRecordsForProjectResponse"/>
</message>
<message name="getComponentMetricsForProject">
<part name="parameters" element="tns:getComponentMetricsForProject"/>
</message>
<message name="getComponentMetricsForProjectResponse">
<part name="parameters" element="tns:getComponentMetricsForProjectResponse"/>
</message>
<message name="createMergedDefect">
<part name="parameters" element="tns:createMergedDefect"/>
</message>
<message name="createMergedDefectResponse">
<part name="parameters" element="tns:createMergedDefectResponse"/>
</message>
<message name="getFileContents">
<part name="parameters" element="tns:getFileContents"/>
</message>
<message name="getFileContentsResponse">
<part name="parameters" element="tns:getFileContentsResponse"/>
</message>
<message name="getMergedDefectsForProjectScope">
<part name="parameters" element="tns:getMergedDefectsForProjectScope"/>
</message>
<message name="getMergedDefectsForProjectScopeResponse">
<part name="parameters" element="tns:getMergedDefectsForProjectScopeResponse"/>
</message>
<message name="getMergedDefectsForSnapshotScope">
<part name="parameters" element="tns:getMergedDefectsForSnapshotScope"/>
</message>
<message name="getMergedDefectsForSnapshotScopeResponse">
<part name="parameters" element="tns:getMergedDefectsForSnapshotScopeResponse"/>
</message>
<message name="getMergedDefectDetectionHistory">
<part name="parameters" element="tns:getMergedDefectDetectionHistory"/>
</message>
<message name="getMergedDefectDetectionHistoryResponse">
<part name="parameters" element="tns:getMergedDefectDetectionHistoryResponse"/>
</message>
<portType name="DefectService">
<operation name="getTriageHistory">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getTriageHistoryRequest" message="tns:getTriageHistory"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getTriageHistoryResponse" message="tns:getTriageHistoryResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getTriageHistory/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateStreamDefects">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/updateStreamDefectsRequest" message="tns:updateStreamDefects"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/updateStreamDefectsResponse" message="tns:updateStreamDefectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/updateStreamDefects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateDefectInstanceProperties">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/updateDefectInstancePropertiesRequest" message="tns:updateDefectInstanceProperties"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/updateDefectInstancePropertiesResponse" message="tns:updateDefectInstancePropertiesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/updateDefectInstanceProperties/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getStreamDefects">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getStreamDefectsRequest" message="tns:getStreamDefects"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getStreamDefectsResponse" message="tns:getStreamDefectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getStreamDefects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectsForStreams">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForStreamsRequest" message="tns:getMergedDefectsForStreams"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForStreamsResponse" message="tns:getMergedDefectsForStreamsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForStreams/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectHistory">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectHistoryRequest" message="tns:getMergedDefectHistory"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectHistoryResponse" message="tns:getMergedDefectHistoryResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectHistory/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateTriageForCIDsInTriageStore">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/updateTriageForCIDsInTriageStoreRequest" message="tns:updateTriageForCIDsInTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/updateTriageForCIDsInTriageStoreResponse" message="tns:updateTriageForCIDsInTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/updateTriageForCIDsInTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getTrendRecordsForProject">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getTrendRecordsForProjectRequest" message="tns:getTrendRecordsForProject"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getTrendRecordsForProjectResponse" message="tns:getTrendRecordsForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getTrendRecordsForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getComponentMetricsForProject">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getComponentMetricsForProjectRequest" message="tns:getComponentMetricsForProject"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getComponentMetricsForProjectResponse" message="tns:getComponentMetricsForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getComponentMetricsForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createMergedDefect">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/createMergedDefectRequest" message="tns:createMergedDefect"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/createMergedDefectResponse" message="tns:createMergedDefectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/createMergedDefect/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getFileContents">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getFileContentsRequest" message="tns:getFileContents"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getFileContentsResponse" message="tns:getFileContentsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getFileContents/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectsForProjectScope">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForProjectScopeRequest" message="tns:getMergedDefectsForProjectScope"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForProjectScopeResponse" message="tns:getMergedDefectsForProjectScopeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForProjectScope/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectsForSnapshotScope">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForSnapshotScopeRequest" message="tns:getMergedDefectsForSnapshotScope"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForSnapshotScopeResponse" message="tns:getMergedDefectsForSnapshotScopeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectsForSnapshotScope/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectDetectionHistory">
<input wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectDetectionHistoryRequest" message="tns:getMergedDefectDetectionHistory"/>
<output wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectDetectionHistoryResponse" message="tns:getMergedDefectDetectionHistoryResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v9/DefectService/getMergedDefectDetectionHistory/Fault/CovRemoteServiceException"/>
</operation>
</portType>
<binding name="DefectServicePortBinding" type="tns:DefectService">
<wsp:PolicyReference URI="#DefectServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTriageHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateStreamDefects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateDefectInstanceProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getStreamDefects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectsForStreams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateTriageForCIDsInTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getTrendRecordsForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getComponentMetricsForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createMergedDefect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getFileContents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectsForProjectScope">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectsForSnapshotScope">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectDetectionHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DefectServiceService">
<port name="DefectServicePort" binding="tns:DefectServicePortBinding">
<soap:address location="http://localhost:1780/ws/v9/defectservice"/>
</port>
</service>
</definitions>